<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <% secretPosts.forEach((e)=>{ %>
      <form action="/deletePost" method="post">
        <input type="hidden" value="<%= e.secretPost %>" name="msgDelete">

        <p class="secret-text"> <%= e.secretPost %> <button class="btn btn-light btn-sm deletebtn" type="submit" name="submit">Delete</button> </p>
        
        
      </form>
    <% }) %>
    <% if (secretPosts.length === 0) {%>
      <p class="secret-text">No Secrets have been shared .. share one?</p>
      <% } %>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
